

<style>
        :host {
        --bright-blue: oklch(51.01% 0.274 263.83);
        --electric-violet: oklch(53.18% 0.28 296.97);
        --french-violet: oklch(47.66% 0.246 305.88);
        --vivid-pink: oklch(69.02% 0.277 332.77);
        --hot-red: oklch(61.42% 0.238 15.34);
        --orange-red: oklch(63.32% 0.24 31.68);
    
        --gray-900: oklch(19.37% 0.006 300.98);
        --gray-700: oklch(36.98% 0.014 302.71);
        --gray-400: oklch(70.9% 0.015 304.04);
    
        --red-to-pink-to-purple-vertical-gradient: linear-gradient(
            180deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%
        );
    
        --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
            90deg,
            var(--orange-red) 0%,
            var(--vivid-pink) 50%,
            var(--electric-violet) 100%
        );
    
        --pill-accent: var(--bright-blue);
    
        font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        }
    
        h1 {
        font-size: 3.125rem;
        color: var(--gray-900);
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -0.125rem;
        margin: 0;
        font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
        }
    
        p {
        margin: 0;
        color: var(--gray-700);
        }
    
        main {
        width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: inherit;
        position: relative;
        }
    
        .angular-logo {
        max-width: 9.2rem;
        }
    
        .content {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 700px;
        margin-bottom: 3rem;
        }
    
        .content h1 {
        margin-top: 1.75rem;
        }
    
        .content p {
        margin-top: 1.5rem;
        }
    
        .divider {
        width: 1px;
        background: var(--red-to-pink-to-purple-vertical-gradient);
        margin-inline: 0.5rem;
        }
    
        .pill-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
        gap: 1.25rem;
        }
    
        .pill {
        display: flex;
        align-items: center;
        --pill-accent: var(--bright-blue);
        background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
        color: var(--pill-accent);
        padding-inline: 0.75rem;
        padding-block: 0.375rem;
        border-radius: 2.75rem;
        border: 0;
        transition: background 0.3s ease;
        font-family: var(--inter-font);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4rem;
        letter-spacing: -0.00875rem;
        text-decoration: none;
        }
    
        .pill:hover {
        background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
        }
    
        .pill-group .pill:nth-child(6n + 1) {
        --pill-accent: var(--bright-blue);
        }
        .pill-group .pill:nth-child(6n + 2) {
        --pill-accent: var(--french-violet);
        }
        .pill-group .pill:nth-child(6n + 3),
        .pill-group .pill:nth-child(6n + 4),
        .pill-group .pill:nth-child(6n + 5) {
        --pill-accent: var(--hot-red);
        }
    
        .pill-group svg {
        margin-inline-start: 0.25rem;
        }
    
        .social-links {
        display: flex;
        align-items: center;
        gap: 0.73rem;
        margin-top: 1.5rem;
        }
    
        .social-links path {
        transition: fill 0.3s ease;
        fill: var(--gray-400);
        }
    
        .social-links a:hover svg path {
        fill: var(--gray-900);
        }
    
        @media screen and (max-width: 650px) {
        .content {
            flex-direction: column;
            width: max-content;
        }
    
        .divider {
            height: 1px;
            width: 100%;
            background: var(--red-to-pink-to-purple-horizontal-gradient);
            margin-block: 1.5rem;
        }
        }
</style>

<div class="w-full md:flex  justify-center md:h-full items-center p-5 bg-white">
    <!-- <h1 class="text-2xl text-center">Welcome Mi Profile</h1>
    <h2 class="p-5 text-center">Detail my Photo</h2> -->
    
    <div class="flex p-5">
        <img [src]='imageUrl' class="scale-16 rounded-full p-6 shadow-purple-600 shadow-inner" alt="Description of the image">
    </div>
    <div class="flex justify-center">
        <div class="md:p-10 flex">
            <div class="flex flex-col">
                <div class="text-center mb-6 bg-black bg-clip-text text-transparent text-3xl font-black">
                    Brian Alexis Galli
                </div>
                <div class="border bg-white border-gray-300 py-3 flex gap-1 shadow-xl rounded-md">
                <div class="group relative px-4 cursor-pointer">
                    <div class="flex h-10 w-10 items-center justify-center rounded-full hover:text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="32" width="32">
                        <path stroke="currentColor" d="M9 22V12H15V22M3 9L12 2L21 9V20C21 20.5304 20.7893 21.0391 20.4142 21.4142C20.0391 21.7893 19.5304 22 19 22H5C4.46957 22 3.96086 21.7893 3.58579 21.4142C3.21071 21.0391 3 20.5304 3 20V9Z"></path>
                    </svg>
                    </div>
                    <span class="absolute -top-8 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm font-medium shadow-md transition-all duration-300 ease-in-out group-hover:scale-100">
                {{home}}
                </span>
                </div>
                <div class="group relative px-4 cursor-pointer">
                    <div class="flex h-10 w-10 items-center justify-center rounded-full hover:text-blue-500">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="currentColor" d="M21 11.5C21.0034 12.8199 20.6951 14.1219 20.1 15.3C19.3944 16.7118 18.3098 17.8992 16.9674 18.7293C15.6251 19.5594 14.0782 19.9994 12.5 20C11.1801 20.0035 9.87812 19.6951 8.7 19.1L3 21L4.9 15.3C4.30493 14.1219 3.99656 12.8199 4 11.5C4.00061 9.92179 4.44061 8.37488 5.27072 7.03258C6.10083 5.69028 7.28825 4.6056 8.7 3.90003C9.87812 3.30496 11.1801 2.99659 12.5 3.00003H13C15.0843 3.11502 17.053 3.99479 18.5291 5.47089C20.0052 6.94699 20.885 8.91568 21 11V11.5Z"></path>
                    </svg>
                    </div>
                    <span class="absolute -top-8 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm font-medium shadow-md transition-all duration-300 ease-in-out group-hover:scale-100">
                <a href=""> {{gmail}} </a>
                </span>
            </div>
            <div class="group relative px-4 cursor-pointer">
                <div class="flex h-10 w-10 items-center justify-center rounded-full hover:text-blue-500"> 
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="currentColor" d="M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21M23 21V19C22.9993 18.1137 22.7044 17.2528 22.1614 16.5523C21.6184 15.8519 20.8581 15.3516 20 15.13M16 3.13C16.8604 3.3503 17.623 3.8507 18.1676 4.55231C18.7122 5.25392 19.0078 6.11683 19.0078 7.005C19.0078 7.89317 18.7122 8.75608 18.1676 9.45769C17.623 10.1593 16.8604 10.6597 16 10.88M13 7C13 9.20914 11.2091 11 9 11C6.79086 11 5 9.20914 5 7C5 4.79086 6.79086 3 9 3C11.2091 3 13 4.79086 13 7Z"></path>
                </svg>
                </div>
                <span class="absolute -top-8 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm font-medium shadow-md transition-all duration-300 ease-in-out group-hover:scale-100">
                    {{contact}}
                </span>
                </div>
        </div>
            
            <button (click)="downloadPdf()"><span class="text">Download My Profile</span><span>Thanks!</span></button>
        </div>
        
    </div>
    <!--  <h2 class="text-center">professional Programming and Developer Front End</h2> -->
</div>
